[submodule "node-api"]
	path = node-api
	url = git@github.com:starlightgroup/node-api.git
[submodule "flashlightsforever"]
	path = flashlightsforever
	url = git@github.com:starlightgroup/flashflightsforever.git
